<%- include("includes/head") %>

<div class="container">
  <h1>About Us</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis efficitur nibh
    at condimentum aliquam. Donec in malesuada odio, non pellentesque libero.
    Fusce ac tempus nisl. Nam id interdum lacus, eget viverra elit. Vivamus ac
    pulvinar massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Mauris tincidunt in ex id consectetur. Aenean lacinia, felis non maximus
    ultrices, lorem quam faucibus metus, quis ullamcorper urna metus gravida
    nulla. Maecenas dapibus elit at molestie auctor. Pellentesque habitant morbi
    tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum
    enim nulla, placerat nec nibh eu, facilisis lacinia nisi. Aenean pulvinar
    placerat nibh, nec hendrerit lectus rutrum et. Nulla condimentum risus in
    leo tempus, ac sollicitudin purus congue. Pellentesque nec enim nisl. Nam
    sed arcu non lorem congue facilisis. Sed enim nisl, lacinia venenatis
    viverra in, imperdiet quis dui.
  </p>
</div>

<%- include("includes/footer") %>
